ZKTECO_IP=192.168.1.201
ZKTECO_PORT=4370
ZKTECO_COMM_KEY=0
ZKTECO_FORCE_UDP=true
VERCEL_APP_URL=https://your-vercel-app-url.vercel.app
ZKTECO_SYNC_SECRET=put_the_same_secret_as_vercel
SYNC_INTERVAL_MINUTES=5
